image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim

definitions:
  caches:
    precommit: ~/.cache/pre-commit
    nox-build-docs: .nox/build_docs

  steps:
    - step: &bb-runner
        runs-on:
          - self.hosted
          - linux
          - radmachine

    - step: &pre-commit-checks
        name: Pre-commit Checks
        <<: *bb-runner
        script:
          - apt-get update
          - apt-get -y install git
          - uvx pre-commit run --all-files
        caches:
          - precommit

    - step: &build-docs
        name: Build Docs
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "docs/**"
        script:
          - pip install nox
          - nox -s build_docs

    - step: &run-tests
        name: Run Tests
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "pyproject.toml"
        script:
          - uv pip install .[developer] --system
          - uv run pytest --junitxml=./test-reports/conjuror_results.xml

pipelines:

  custom:
    publish-package:
      - step:
          name: Build & Push to PYPI
          <<: *bb-runner
          image: ghcr.io/astral-sh/uv:bookworm
          script:
            - uv build
            - uv publish  # token is an env var

  pull-requests:
    '**':
      - step: *pre-commit-checks
      - parallel:
          - step: *build-docs
          - step: *run-tests
